body {
    font-family: Arial, sans-serif;
    background-image: url('pexels-pixabay-163752.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
}

header {
    background-color: rgba(76, 175, 80, 0.9);
    padding: 20px;
    color: white;
}

h1 {
    margin: 0;
    font-size: 36px;
    font-weight: bold;
}

section {
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h2 {
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-weight: bold;
    color: #333;
}

input[type="number"],
select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.response-message {
    margin-top: 20px;
    color: #4CAF50; /* Success message color */
    font-weight: bold;
}

.btn {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.btn:hover {
    background-color: #45a049;
    transform: translateY(-5px);
}